related-docs/floodlight.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="Modules">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="loaded" type="xs:boolean"/>
                <xs:element name="provides" type="xs:string"/>
                <xs:element name="depends" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>